/* #SETTINGS - PX */
$PX_1440: 90rem;
$PX_1200: 75rem;
$PX_990: 61.875rem;
$PX_950: 59.375rem;
$PX_830: 51.875rem;
$PX_450: 28.125rem;
$PX_380: 23.75rem;
$PX_200: 12.5rem;
$PX_194: 12.125rem;
$PX_190: 11.875rem;
$PX_136: 8.5rem;
$PX_128: 8rem;
$PX_120: 7.5rem;
$PX_108: 6.75rem;
$PX_100: 6.25rem;
$PX_96: 6rem;
$PX_95: 5.938rem;
$PX_90: 5.625rem;
$PX_88: 5.5rem;
$PX_80: 5rem;
$PX_72: 4.5rem;
$PX_70: 4.375rem;
$PX_64: 4rem;
$PX_56: 3.5rem;
$PX_54: 3.375rem;
$PX_52: 3.25rem;
$PX_48: 3rem;
$PX_44: 2.75rem;
$PX_40: 2.5rem;
$PX_38: 2.375rem;
$PX_32: 2rem;
$PX_30: 1.875rem;
$PX_24: 1.5rem;
$PX_22: 1.375rem;
$PX_20: 1.25rem;
$PX_18: 1.125rem;
$PX_16: 1rem;
$PX_14: 0.875rem;
$PX_12: 0.75rem;
$PX_11: 0.688rem;
$PX_8: 0.5rem;
$PX_6: 0.375rem;
$PX_5: 0.313rem;
$PX_4: 0.25rem;
$PX_3: 0.188rem;
$PX_1: 0.063rem;
$PX_0_25: 0.016rem;
